# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Python
__pycache__/

# Executables
*.exe
*.out
*.app
dot-circulation-movement
genmap

# GLEW
/src/thirdparty/glew-2.2.0.zip
/src/thirdparty/glew-2.2.0/

# Build
/build/

# HTML
*.html

# Raw video
raw_video
